In [18]:
import pandas as pd

In [19]:
from datetime import datetime,timedelta

import requests

import zipfile

import pandas as pd

import os
import urllib.request
import urllib

In [20]:
N = 10 # data for number of days form today



url_part1 = "https://www.nseindia.com/content/historical/EQUITIES/"

datelist = pd.DataFrame(pd.date_range(datetime.today()-timedelta(days=N), periods=N-1).tolist())

datelist =datelist[0]

date_str=datelist.apply(lambda x:x.strftime("%d%b%Y").upper())

date_str1=pd.DataFrame(date_str.copy())

date_str1.loc[:,1] =(url_part1 + date_str1.loc[:,0].str[-4:] + "/" 

+ date_str1.loc[:,0].str[2:5]

+ "/cm" + date_str1.loc[:,0] + "bhav.csv.zip")

url = (url_part1 + date_str1.loc[:,0].str[-4:] + "/" + date_str1.loc[:,0].str[2:5] + "/cm" + date_str1.loc[:,0] + "bhav.csv.zip")

In [21]:
# date_str1.loc[:,2] = date_str1.loc[:,1].apply(file_downloader)

In [22]:
datetime.today()

datetime.datetime(2018, 12, 4, 7, 44, 5, 364891)

In [23]:
df = pd.DataFrame({'url':url.values})

In [24]:
df.url[1]

'https://www.nseindia.com/content/historical/EQUITIES/2018/NOV/cm25NOV2018bhav.csv.zip'

In [25]:
import requests, zipfile, io
def download_extract_zip(url):  
    r = requests.get(url)
    z = zipfile.ZipFile(io.BytesIO(r.content))
    z.extractall()

In [26]:
for i in range(N-2):
    try:
        download_extract_zip(df.url[i])
    except:
        print('No _Market')

No _Market
No _Market
No _Market

In [27]:
df2 = pd.DataFrame()
for i in range(N-2):
#     download_extract_zip(df.url[i])
    csv = 'fo'+ date_str1.loc[i,0] + "bhav.csv"
    try:
        df1 = pd.read_csv(csv)
        df2 = df2.append(df1) 
    except:
        print("Marketclose" + '--' + csv )

Marketclose--fo24NOV2018bhav.csv
Marketclose--fo25NOV2018bhav.csv
Marketclose--fo01DEC2018bhav.csv

In [28]:
df2.head()

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
0,FUTIDX,BANKNIFTY,29-Nov-2018,0.0,XX,26075.0,26385.95,26025.05,26363.75,26363.75,168801,884672.47,1349840,154560,26-NOV-2018,NaN
1,FUTIDX,BANKNIFTY,27-Dec-2018,0.0,XX,26199.9,26500.00,26117.40,26465.45,26465.45,19185,100982.88,396820,85720,26-NOV-2018,NaN
2,FUTIDX,BANKNIFTY,31-Jan-2019,0.0,XX,26290.0,26572.85,26195.85,26540.90,26540.90,294,1553.21,11220,640,26-NOV-2018,NaN
3,FUTIDX,NIFTY,29-Nov-2018,0.0,XX,10573.1,10650.00,10492.40,10639.20,10639.20,179552,1424085.62,22241250,-636750,26-NOV-2018,NaN
4,FUTIDX,NIFTY,27-Dec-2018,0.0,XX,10644.9,10690.00,10532.00,10678.00,10678.00,49675,395266.14,4195275,1791075,26-NOV-2018,NaN

In [29]:
df2.sample(10)

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
20970,OPTSTK,HINDUNILVR,31-Jan-2019,1580.0,CE,0.0,0.00,0.0,118.70,196.40,0,0.0,0,0,28-NOV-2018,NaN
6911,OPTSTK,ASIANPAINT,27-Dec-2018,980.0,PE,0.0,0.00,0.0,0.70,0.05,0,0.0,0,0,29-NOV-2018,NaN
37916,OPTSTK,TATAPOWER,31-Jan-2019,79.0,CE,0.0,0.00,0.0,6.05,5.25,0,0.0,0,0,30-NOV-2018,NaN
38382,OPTSTK,SBIN,27-Dec-2018,335.0,CE,0.0,0.00,0.0,3.45,2.00,0,0.0,0,0,26-NOV-2018,NaN
32725,OPTSTK,NIITTECH,27-Dec-2018,1000.0,CE,0.0,0.00,0.0,189.85,112.35,0,0.0,0,0,26-NOV-2018,NaN
43796,OPTSTK,TVSMOTOR,31-Jan-2019,500.0,PE,0.0,0.00,0.0,44.55,19.45,0,0.0,0,0,26-NOV-2018,NaN
28697,OPTSTK,M&MFIN,27-Dec-2018,540.0,PE,0.0,0.00,0.0,144.35,98.55,0,0.0,0,0,29-NOV-2018,NaN
22970,OPTSTK,IFCI,31-Jan-2019,22.0,PE,0.0,0.00,0.0,8.95,8.10,0,0.0,0,0,26-NOV-2018,NaN
3365,OPTIDX,NIFTY,24-Jun-2021,7600.0,PE,0.0,0.00,0.0,145.15,31.20,0,0.0,0,0,27-NOV-2018,NaN
45076,OPTSTK,VEDL,27-Dec-2018,180.0,CE,20.0,20.25,20.0,20.25,20.25,2,7.0,3500,3500,28-NOV-2018,NaN

In [30]:
df2.shape

(228097, 16)

In [31]:
os.getcwd()

'C:\\Users\\chamu\\Desktop'